@mixin gridLogo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

@mixin gridTopbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

@mixin gridMenu {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@mixin flexCenter {
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin resetButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}